<!doctype html>
<html>
<head>
    <title>Course tracker</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
        <div class="col-sm-6">
          <h3>Courses</h3>
          <ul class="messages">
          <% for(var i=0; i<courseList.length; i++) {%>
            <li class="message">
              <span><%= courseList[i].userNameDB %></span> 
              <span><%= courseList[i].courseNameDB %></span> 
              <span><%= courseList[i].instructorNameDB %></span>
              <span><%= courseList[i].courseLengthDB %></span>
              <span><%= courseList[i].notesDB %></span>
              <span><%= courseList[i].completionStatusDB %></span>
              <span><%= courseList[i].thumbUpDB %></span>
              <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
              <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
              <span><i class="fa fa-trash-o"></i></span>
            </li>
          <% } %>
          </ul>

          <h2>Enter your course</h2>
        <% if (user.local.email) { %>
          <form action="/messages" method="POST">
            <input type="text" placeholder="username" value="<%= user.local.email %>" name="userNameFromForm"> <%# node [1] %>
            <input type="text" placeholder="course name" name="courseNameFromForm"> <%# node [3] %>
            <input type="text" placeholder="instructor name" name="instructorNameFromForm"> <%# node [5] %>
            <input type="number" placeholder="Course length (mins)" name="courseLengthFromForm"> <%# node [7] %>
            <input type="text" placeholder="Notes" name="notesFromForm"> <%# node [9] %>
            <label for="completionStatus">Completion status</label>
            <input type="range" name="completionStatusFromForm" id="completionStatus" min="0" max="10"> <%# node [13] %>
            <button type="submit">Submit</button>
          </form>
        </div>
        <% } %>

</div>

<script src="main.js"></script>

</body>
</html>
